HotelReservationSystemPartner/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="ViewAllReservations">
<part name="parameters" element="tns:ViewAllReservations"/>
</message>
<message name="ViewAllReservationsResponse">
<part name="parameters" element="tns:ViewAllReservationsResponse"/>
</message>
<message name="ViewReservation">
<part name="parameters" element="tns:ViewReservation"/>
</message>
<message name="ViewReservationResponse">
<part name="parameters" element="tns:ViewReservationResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="sameDayCheckIn">
<part name="parameters" element="tns:sameDayCheckIn"/>
</message>
<message name="sameDayCheckInResponse">
<part name="parameters" element="tns:sameDayCheckInResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="addReservation">
<part name="parameters" element="tns:addReservation"/>
</message>
<message name="addReservationResponse">
<part name="parameters" element="tns:addReservationResponse"/>
</message>
<message name="InvalidRoomTypeException">
<part name="fault" element="tns:InvalidRoomTypeException"/>
</message>
<message name="InvalidRoomQuantityException">
<part name="fault" element="tns:InvalidRoomQuantityException"/>
</message>
<message name="InvalidDateRangeException">
<part name="fault" element="tns:InvalidDateRangeException"/>
</message>
<message name="SearchRoom">
<part name="parameters" element="tns:SearchRoom"/>
</message>
<message name="SearchRoomResponse">
<part name="parameters" element="tns:SearchRoomResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="Login">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/LoginResponse" message="tns:LoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/Login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="ViewAllReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/ViewAllReservationsRequest" message="tns:ViewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/ViewAllReservationsResponse" message="tns:ViewAllReservationsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/ViewAllReservations/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="ViewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/ViewReservationRequest" message="tns:ViewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/ViewReservationResponse" message="tns:ViewReservationResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/ViewReservation/Fault/InvalidLoginCredentialException"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/ViewReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="sameDayCheckIn">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/sameDayCheckInRequest" message="tns:sameDayCheckIn"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/sameDayCheckInResponse" message="tns:sameDayCheckInResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/ReservationWebService/sameDayCheckIn/Fault/ParseException"/>
</operation>
<operation name="addReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/addReservationRequest" message="tns:addReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/addReservationResponse" message="tns:addReservationResponse"/>
<fault message="tns:InvalidRoomTypeException" name="InvalidRoomTypeException" wsam:Action="http://ws.session.ejb/ReservationWebService/addReservation/Fault/InvalidRoomTypeException"/>
<fault message="tns:InvalidRoomQuantityException" name="InvalidRoomQuantityException" wsam:Action="http://ws.session.ejb/ReservationWebService/addReservation/Fault/InvalidRoomQuantityException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/ReservationWebService/addReservation/Fault/ParseException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/addReservation/Fault/InvalidLoginCredentialException"/>
<fault message="tns:InvalidDateRangeException" name="InvalidDateRangeException" wsam:Action="http://ws.session.ejb/ReservationWebService/addReservation/Fault/InvalidDateRangeException"/>
</operation>
<operation name="SearchRoom">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/SearchRoomRequest" message="tns:SearchRoom"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/SearchRoomResponse" message="tns:SearchRoomResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/ReservationWebService/SearchRoom/Fault/ParseException"/>
<fault message="tns:InvalidDateRangeException" name="InvalidDateRangeException" wsam:Action="http://ws.session.ejb/ReservationWebService/SearchRoom/Fault/InvalidDateRangeException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="ViewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="ViewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="sameDayCheckIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="addReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomTypeException">
<soap:fault name="InvalidRoomTypeException" use="literal"/>
</fault>
<fault name="InvalidRoomQuantityException">
<soap:fault name="InvalidRoomQuantityException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="InvalidDateRangeException">
<soap:fault name="InvalidDateRangeException" use="literal"/>
</fault>
</operation>
<operation name="SearchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="InvalidDateRangeException">
<soap:fault name="InvalidDateRangeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>