HotelReservationSystemPartner/src/META-INF/wsdl/localhost_8080/ReservationWebService/ReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=2"/>

<xs:element name="InvalidDateRangeException" type="tns:InvalidDateRangeException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="InvalidRoomQuantityException" type="tns:InvalidRoomQuantityException"/>

<xs:element name="InvalidRoomTypeException" type="tns:InvalidRoomTypeException"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="SearchRoom" type="tns:SearchRoom"/>

<xs:element name="SearchRoomResponse" type="tns:SearchRoomResponse"/>

<xs:element name="ViewAllReservations" type="tns:ViewAllReservations"/>

<xs:element name="ViewAllReservationsResponse" type="tns:ViewAllReservationsResponse"/>

<xs:element name="ViewReservation" type="tns:ViewReservation"/>

<xs:element name="ViewReservationResponse" type="tns:ViewReservationResponse"/>

<xs:element name="addReservation" type="tns:addReservation"/>

<xs:element name="addReservationResponse" type="tns:addReservationResponse"/>

<xs:element name="sameDayCheckIn" type="tns:sameDayCheckIn"/>

<xs:element name="sameDayCheckInResponse" type="tns:sameDayCheckInResponse"/>

<xs:complexType name="SearchRoom">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchRoomResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidDateRangeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewAllReservations">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservations">
<xs:sequence>
<xs:element name="allocatedRoom" type="tns:hotelRooms" minOccurs="0"/>
<xs:element name="cost" type="xs:int" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationID" type="xs:long" minOccurs="0"/>
<xs:element name="reservationRoomType" type="tns:roomTypes" minOccurs="0"/>
<xs:element name="reservedBy" type="tns:customers" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelRooms">
<xs:sequence>
<xs:element name="hotelRoomID" type="xs:string" minOccurs="0"/>
<xs:element name="isAllocated" type="xs:boolean" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservations" minOccurs="0"/>
<xs:element name="rmType" type="tns:roomTypes" minOccurs="0"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomTypes">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="hotelRooms" type="tns:hotelRooms" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nextHigherRoomType" type="tns:roomTypes" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservations" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRates" type="tns:rates" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="size" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rates">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="price" type="xs:int" minOccurs="0"/>
<xs:element name="rateID" type="xs:long" minOccurs="0"/>
<xs:element name="rateType" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomTypes" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customers">
<xs:sequence>
<xs:element name="isPartner" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passportNum" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservations" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidRoomTypeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidRoomQuantityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sameDayCheckIn">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sameDayCheckInResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:customers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservations" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>